<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="post">
     <p>Team Name<input type="text" name="team[][name]"></p>
     <p>Coach<input type="text" name="team[][coach]"></p>
    <p>Point Guard<input type="text" name="team[][pg]"></p>
    <p>Shooting Guard<input type="text" name="team[][sg]"></p>
    <p>Power Forward<input type="text" name="team[][pf]"></p>
    <p>Small Forward<input type="text" name="team[][sf]"></p>
     <p>Center<input type="text" name="team[][c]"></p>
     <button id="submit">Submit</button>
   </form>
 </body>
</html>
